---
const pageTitle = "このブログと書いている人について";
---

<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <h1>All DAY Nippon</h1>
      <nav>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/blog">All Posts</a></li>
      </nav>
    </header>
    <h1>{pageTitle}</h1>
  </body>
</html>
