---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const { pageTitle } = Astro.props;
---

<Layout pageTitle={pageTitle}>
  <h1>All Pposts</h1>
  {
    allPosts.map((post) => (
      <article>
        <a href={post.url}>{post.frontmatter.title}</a>
      </article>
    ))
  }
</Layout>
