---

---

<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>All DAY Nippon</title>
	</head>
	<body>
		<li><a href="/">HOME</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="/blog">BLOG</a></li>
		<h1>All DAY Nippon</h1>
	</body>
</html>
